{% extends "base.html" %}

{% block head_title %}{% endblock %}
{% block page_title %}List{% endblock %}

{% block main %}
  <ul>
    {% for object in object_list %}
      <li>{{ object }}</li>
    {% endfor %}
  </ul>
{% endblock %}


{% block extra_script %}{{ super() }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery.sparkline/jquery.sparkline.min.js') }}"></script>
  <script>

  </script>
{% endblock %}
