{% extends "base.html" %}

{% block head_title %}{% endblock %}
{% block page_title %}List{% endblock %}

{% block main %}
  <table>
    {% for object in object_list %}
      <tr class="item">
        <td class="image">
          <img src="{{ object.image_medium }}" alt="" class="thumb-small">
        </td>
        <td>
          {{ object }}
        </td>
        <td>
          <span class="price" data-values="{% for price in object.pricehistory %}|{{ price.price }}{% endfor %}"></span>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}


{% block extra_script %}{{ super() }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.sparkline/jquery.sparkline.min.js') }}"></script>
  <script>
    $('span.price').each(function () {
      var $el = $(this),
          data = $el.attr('data-values');
      if (!data) {
        return;
      }
      data = data.substr(1).split('|');
      $el.sparkline(data, {type: 'line'});
    });
  </script>
{% endblock %}
