{% extends "base.html" %}

{% block head_title %}{{ object.name }}{% endblock %}
{% block page_title %}{{ object.name }}{% endblock %}

{% block main %}
  <a href="{{ object.url }}">link</a>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        {% for k in object.header %}
        <th>
          {{ k }}
        </th>
        {% endfor %}
        <th>Price</th>
      </tr>
    </thead>
    {% for item in object.items %}
      <tr>
        <td>
          {% if item.asin.image_medium %}
            <a href="{{ item.asin.url }}" target="_blank" title="{{ item.asin }}">
              <img src="{{ item.asin.image_medium }}" alt="">
            </a>
          {% endif %}
        </td>
        {% for v in item.data %}
          <td>
            {% if v %}
              {{ v }}
            {% else %}
              &nbsp;
            {% endif %}
          </td>
        {% endfor %}
        <td>
          {{ item.asin.price }}
        </td>
      </tr>
    {% endfor %}
  </table>


  <form action="{{ url_for('crap_refresh', pk=object.id) }}" method="POST">
    <input type="submit" value="refresh">
  </form>
  <form action="{{ url_for('crap_price', pk=object.id) }}" method="POST">
    <input type="submit" value="get prices">
  </form>
{% endblock %}
