Test
<h1>{{ object.name }}</h1>
<a href="{{ object.url }}">link</a>

<table>
  <thead>
    <tr>
      {% for k in object.header %}
      <th>
        {{ k }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  {% for item in object.items %}
    <tr>
      {% for v in item.data %}
        <td>
          {{ v }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>


<form action="{{ url_for('crap_refresh', pk=object.id) }}" method="POST">
  <input type="submit" value="refresh">
</form>
