Flask-WTF==0.9.4
Flask==0.10.1
invoke==0.6.1
itsdangerous==0.23
Jinja2==2.7.2
MarkupSafe==0.18
# peewee==2.1.8
https://github.com/coleifer/peewee/tarball/master
project-runpy==0.1.1
psycopg2==2.5.2
Werkzeug==0.9.4
WTForms==1.0.5
