.topbar
  +clearfix
  a, a:visited
    color: black

.nav
  float: left
  font-size: 0.9em
  a
    background: blanchedalmond
    display: block
    float: left
    padding: 0.5em 0.5em
    text-decoration: none
    &:hover
      background: palegreen

.account
  float: right
  a
    display: block
    text-decoration: none
  img
    height: 1em


.module
  border-bottom: 1px solid gray
  h2
    font-size: 1em
